.search-wrapper {
  position: relative;
  display: flex;
  max-width: 256px;
  width: 100%;
}

.search {
  font-family: var(--font);
  flex: 1 1 100%;
  font-size: 14px;
  color: var(--text-color);
  padding: 16px 30px 16px 42px;
  background: #fcfcfd;
  border: 1px solid #efefef;
  border-radius: 10px;
  min-width: 182px;
}
.search::placeholder {
  font-family: var(--font);
  color: #9aa0b4;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"] {
  -moz-appearance: textfield; /* Для Firefox */
}

.search-wrapper img {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}