.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}